*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box
}
.form-contaner{
    width: 100%;
    height: 100vh;
    padding: 10px;
    margin: auto;
    background-color: rgb(186, 188, 189);
}
.form-conteent{
    width: 40%;
    padding: 20px;
    margin: auto;
    text-align: center;
    align-items: center;
    margin-top: 40px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
}
h1{
    color: rgb(197, 197, 197);
    font-size: 40px;
}
hr{
    height: 3px;
    background-color: black;
    border-radius: 10px;
}
.form-name{
    display: flex;
    justify-content: space-between;
    margin: 20px;
}
.form-name input{
    padding:  10px ;
    font-size: 15px;
    border-radius: 10px;
    border: 1px solid black;
    background-color: antiquewhite;
}
#form-sub{
    padding: 10px 30px 10px 30px ;
    border-radius: 10px;
    border: 1px solid black;
}
p{
    color: red;
    text-align: start;
}